---
title: Index
section: Features
---
<div class="row">
	<div class="col-sm-12">
		{{> breadcrumb }}
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-3">
		{{> nav-sidebar }}
	</div>
	<div class="col-sm-12 col-md-9">
		{{> share-buttons}}
		<article class='rich-text'>
			<div class='row'>
				<div class="col-md-12">
					<h1>Elements</h1>
					<div class='meta'>Posted on 1st January 1970 by Joe Bloggs</div>
				</div>
			</div>
			<img class='center-block' src="http://fpoimg.com/653x200?text=Feature%20Image%20(.rich-text.center-block)" alt="Fullwidth article banner">
			<div class='content'>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="teaser teaser-desc-inner loader">
			        	<img class="teaser-img loader-img" src="/system/assets/images/Large/skyscrapers.jpg" alt="Culinary Adventures">
			        	<div class="loading-panel"></div>
			    		<h3 class="teaser-heading overlay overlay-top ribbon"><a href="/elements/article.html">Article</a></h4>
			            <p class="teaser-description overlay overlay-bottom ribbon">The article page with a hero heading image and examples of images and videos in the content</p>
				    	<a class="teaser-link" href="/elements/article.html" title="">Read More <i class="fa fa-chevron-right"></i></a>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="teaser teaser-desc-inner loader">
			        	<img class="teaser-img loader-img" src="/system/assets/images/Large/bridge.jpg" alt="Culinary Adventures">
			        	<div class="loading-panel"></div>
			    		<h3 class="teaser-heading overlay overlay-top ribbon"><a href="/elements/article-noimg.html">Article (no image)</a></h4>
			            <p class="teaser-description overlay overlay-bottom ribbon">A simple article with no hero heading image</p>
				    	<a class="teaser-link" href="/elements/article-noimg.html" title="">Read More <i class="fa fa-chevron-right"></i></a>
					</div>
			    </div>
			    <div class="col-sm-6 col-md-4">
			    	<div class="teaser teaser-desc-inner loader">
			        	<img class="teaser-img loader-img" src="/system/assets/images/Large/map.jpg" alt="Culinary Adventures">
			        	<div class="loading-panel"></div>
			    		<h3 class="teaser-heading overlay overlay-top ribbon"><a href="/elements/location.html">Location</a></h4>
			            <p class="teaser-description overlay overlay-bottom ribbon">The location page</p>
				    	<a class="teaser-link" href="/elements/location.html" title="">Read More <i class="fa fa-chevron-right"></i></a>
					</div>
			    </div>
			    <div class="col-sm-6 col-md-4">
			    	<div class="teaser teaser-desc-inner loader">
			        	<img class="teaser-img loader-img" src="/system/assets/images/Large/wall.jpg" alt="Culinary Adventures">
			        	<div class="loading-panel"></div>
			    		<h3 class="teaser-heading overlay overlay-top ribbon"><a href="/elements/downloads.html">Downloads</a></h4>
			            <p class="teaser-description overlay overlay-bottom ribbon">Downloads page</p>
				    	<a class="teaser-link" href="/elements/downloads.html" title="">Read More <i class="fa fa-chevron-right"></i></a>
					</div>
			    </div>
			    <div class="col-sm-6 col-md-4">
			    	<div class="teaser teaser-desc-inner loader">
			        	<img class="teaser-img loader-img" src="/system/assets/images/Large/ballon-burner.jpg" alt="Culinary Adventures">
			        	<div class="loading-panel"></div>
			    		<h3 class="teaser-heading overlay overlay-top ribbon"><a href="/elements/teasers.html">Teasers</a></h4>
			            <p class="teaser-description overlay overlay-bottom ribbon">Example teasers shown in 2 and 3 column layouts</p>
				    	<a class="teaser-link" href="/elements/teasers.html" title="">Read More <i class="fa fa-chevron-right"></i></a>
					</div>
			    </div>
			</div>
	</div>
</div>