---
title: Index
section: Features
---
<div class="row">
	<div class="col-sm-12">
		<div class="hero">
			<img alt="" src="/system/assets/images/wide/balloons.jpg">
			<div class="overlay overlay-tl ribbon">
				<h1>Features</h1>		
			</div>
		</div>
		<div class='content'>
			<p>There are various additional features implemented in the HTML design to enrich page content and add functionality to your site. These are listed below, click through to see the feature in action.</p>
		</div
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-md-4">
    	<div class="teaser teaser-colored">
        	<h2 class="teaser-heading">Cookie Bar</h2>
            <p class="teaser-description">A notification bar which appears the first time you visit the site, to ask for cookie consent</p>
	    	<a class="teaser-link" href="cookie-bar.html" title="">View Feature <i class="fa fa-chevron-right"></i></a>
		</div>
    </div>
    <div class="col-sm-6 col-md-4">
    	<div class="teaser teaser-colored">
        	<h2 class="teaser-heading">Downloads</h2>
            <p class="teaser-description">Display links with icons to downloadable materials like PDF and Word documents</p>
	    	<a class="teaser-link" href="downloads.html" title="">View Feature <i class="fa fa-chevron-right"></i></a>
		</div>
    </div>
    <div class="col-sm-6 col-md-4">
    	<div class="teaser teaser-colored">
        	<h2 class="teaser-heading">Overlays</h2>
            <p class="teaser-description">Display text superimposed on top of images with and without a shaded background</p>
	    	<a class="teaser-link" href="overlays.html" title="">View Feature <i class="fa fa-chevron-right"></i></a>
		</div>
    </div>
    <div class="col-sm-6 col-md-4">
    	<div class="teaser teaser-colored">
        	<h2 class="teaser-heading">Popups</h2>
            <p class="teaser-description">Open links in a modal lightbox, rather than a new window or tab.</p>
	    	<a class="teaser-link" href="popups.html" title="">View Feature <i class="fa fa-chevron-right"></i></a>
		</div>
    </div>
</div>