---
title: Overlays
section: Features
---
<div class="row">
	<div class="col-sm-12">
		{{> breadcrumb }}
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-3">
		{{> nav-sidebar }}
	</div>
	<div class="col-sm-12 col-md-9">
		<h2>Overlays</h2>
		<h3>Overlay Text Styles</h3>
		<div class="row">
			<div class="col-sm-6">
				<div class='feature'>
					<img src="/system/assets/images/large/bridge.jpg" alt="">
					<h4 class='overlay overlay-bottom ribbon'>Heading (.ribbon)</h4>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<p><a href='#'>Read more <i class="fa fa-chevron-right"></i></a></p>
			</div>
			<div class="col-sm-6">
				<div class='feature'>
					<img src="/system/assets/images/large/bridge.jpg" alt="">
					<h4 class='overlay overlay-bottom glow'>Heading (.glow)</h4>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<p><a href='#'>Read more <i class="fa fa-chevron-right"></i></a></p>
			</div>
		</div>

		<h3>Overlay Positioning</h3>

		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class='feature'>
					<img src="/system/assets/images/teaser/bridge.jpg" alt="">
					<h4 class='overlay overlay-bottom ribbon'>.overlay-bottom</h4>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class='feature'>
					<img src="/system/assets/images/teaser/bridge.jpg" alt="">
					<h4 class='overlay overlay-top ribbon'>.overlay-top</h4>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class='feature'>
					<img src="/system/assets/images/teaser/bridge.jpg" alt="">
					<h4 class='overlay overlay-tl ribbon'>.overlay-tl</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class='feature'>
					<img src="/system/assets/images/teaser/bridge.jpg" alt="">
					<h4 class='overlay overlay-tr ribbon'>.overlay-tr</h4>
				</div>
			</div>
			<div class="col-sm-4">
				<div class='feature'>
					<img src="/system/assets/images/teaser/bridge.jpg" alt="">
					<h4 class='overlay overlay-bl ribbon'>.overlay-bl</h4>
				</div>
			</div>
			<div class="col-sm-4">
				<div class='feature'>
					<img src="/system/assets/images/teaser/bridge.jpg" alt="">
					<h4 class='overlay overlay-br ribbon'>.overlay-br</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class='feature'>
					<img src="/system/assets/images/teaser/bridge.jpg" alt="">
					<h4 class='overlay overlay-bottom glow'>Default Align</h4>
				</div>
			</div>
			<div class="col-sm-4">
				<div class='feature'>
					<img src="/system/assets/images/teaser/bridge.jpg" alt="">
					<h4 class='overlay overlay-bottom glow text-center'>.text-center</h4>
				</div>
			</div>
			<div class="col-sm-4">
				<div class='feature'>
					<img src="/system/assets/images/teaser/bridge.jpg" alt="">
					<h4 class='overlay overlay-bottom glow text-right'>.text-right</h4>
				</div>
			</div>
		</div>
		
	</div>
</div>