lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.yo-rc.json
.DS_Store

pids
logs
results

npm-debug.log

*.sublime-*

validation-report.json
validation-status.json
*.zip

.tmp/
dist/
design/
html/
reports/
whitelabel/
build-files/
bower_components/
node_modules/
zip/

*.iml
*.ipr
*.iws
.idea
atlassian-ide-plugin.xml
