---
title: Build It!
section: root
---

<div class="row">
	<div class="col-sm-12">
		<h1>Build It!</h1>
		<p>This site shows a white-label version of the HTML Design used by the Tridion Standard Implementation.</p>
	</div>
</div>