---
title: Home
section: root
---

<div class="row">
	<div class="col-sm-12">
		<div class="jumbotron">
			<h1>SDL Whitelabel Microsite</h1>
			<p>This site shows a white-label version of the HTML Design used by the Tridion Standard Implementation.</p>
			{{!--<div class='row'>
				<div class="col-sm-9 col-sm-push-3">
					<h3>Customise Theme</h3>
				</div>
			</div>
			
			<div class="form-horizontal" role="form">
				<div class="form-group">
					<label for="less-variable" class="col-sm-3 control-label">Variable</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="less-variable" name="less-variable" value="@body-bg">
					</div>
				</div>
				<div class="form-group">
					<label for="less-value" class="col-sm-3 control-label">Value OR Other Variable</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="less-value" name="less-value" value="#008a5a">
					</div>
				</div>
				<div class="form-group">
					<label for="less-value" class="col-sm-3 control-label">CSS Output</label>
					<div class="col-sm-9">
						<textarea class="form-control" id="less-css" disabled></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-9">
						<button id='update-theme' type="submit" class="btn btn-default">Update</button>
					</div>
				</div>
			</div>--}}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="teaser clearfix image-loading">
			<img src="http://saintjohn01.ams.dev:82/cid/scale/688x425/source/site/media/orchids_tcm4-123.jpg" alt="Beautiful Saint John">
			<div class="loading-panel"></div>
			<div class="description">
	    		<h3 class="overlay overlay-top ribbon">Layouts</h3>
	    		<p class="overlay overlay-bottom ribbon">See the different types of page layout you can create</p>
	        	<a href="http://saintjohn01.ams.dev:81/saint-john/index" title="">Read More <i class="fa fa-chevron-right"></i></a>
	    	</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
        <div class="teaser clearfix image-loading">
        	<img src="http://saintjohn01.ams.dev:82/cid/scale/688x425/source/site/media/curry_tcm4-124.jpg" alt="Culinary Adventures">
        	<div class="loading-panel"></div>
        	<div class="description">
        		<h3 class="overlay overlay-top ribbon">Lists</h3>
	            <p class="overlay overlay-bottom ribbon">Lists of content shown in a variety of way from carousels to accordions</p>
		    	<a href="http://saintjohn01.ams.dev:81/saint-john/index" title="">Read More <i class="fa fa-chevron-right"></i></a>
		    </div>
		</div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="teaser clearfix image-loading">
	    	<img src="http://saintjohn01.ams.dev:82/cid/scale/688x425/source/site/media/orchids_tcm4-123.jpg" alt="Beautiful Saint John">
	    	<div class="loading-panel"></div>
	    	<div class="description">
	    		<h3 class="overlay overlay-top ribbon"><a href="#">Elements</a></h3>
	    		<p class="overlay overlay-bottom ribbon">Articles, Maps, Video, Downloads, Teasers and more...</p>
	        	<a href="http://saintjohn01.ams.dev:81/saint-john/index" title="">Read More <i class="fa fa-chevron-right"></i></a>
	        </div>
		</div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="teaser clearfix image-loading">
        	<img src="http://saintjohn01.ams.dev:82/cid/scale/688x425/source/site/media/curry_tcm4-124.jpg" alt="Culinary Adventures">
        	<div class="loading-panel"></div>
        	<div class="description">
        		<h3 class="overlay overlay-top ribbon">Features</h3>
	            <p class="overlay overlay-bottom ribbon">Additional features to enrich the site like popups and notifications</p>
		    	<a href="http://saintjohn01.ams.dev:81/saint-john/index" title="">Read More <i class="fa fa-chevron-right"></i></a>
		    </div>
		</div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="teaser clearfix image-loading">
	    	<img src="http://saintjohn01.ams.dev:82/cid/scale/688x425/source/site/media/orchids_tcm4-123.jpg" alt="Beautiful Saint John">
	    	<div class="loading-panel"></div>
	    	<div class="description">
	    		<h3 class="overlay overlay-top ribbon">3<sup>rd</sup> Party Products</h3>
	    		<p class="overlay overlay-bottom ribbon">More information on the 3<sup>rd</sup> party products are used</p>
	        	<a href="http://saintjohn01.ams.dev:81/saint-john/index" title="">Read More <i class="fa fa-chevron-right"></i></a>
	        </div>
		</div>
    </div>
</div>