---
title: Home
section: root
---
<div class="row">
	<div class="col-sm-12">
		<div class="jumbotron">
			<h1>Whitelabel HTML Design</h1>
			<p>This site demonstrates the use of the HTML Design that is provided as part of the SDL Tridion Reference Implementation.</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="teaser teaser-desc-inner">
			<img class="teaser-img" data-aspect="1.62" src="/system/assets/images/teaser/blueprint.jpg" alt="Page Layouts">
			<h2 class="teaser-heading overlay overlay-top ribbon"><a href="layouts/index.html">Page Layouts</a></h2>
    		<p class="teaser-description overlay overlay-top ribbon">See the different types of page layout you can work with</p>
		</div>
	</div>
    <div class="col-sm-6 col-md-4">
        <div class="teaser teaser-desc-inner">
	    	<img class="teaser-img" data-aspect="1.62" src="/system/assets/images/teaser/map.jpg" alt="Content Types">
	    	<h2 class="teaser-heading overlay overlay-top ribbon"><a href="content-types/index.html">Content Types</a></h2>
    		<p class="teaser-description overlay overlay-bottom ribbon">Articles, Maps, Video, Downloads, Teasers and more...</p>
		</div>
    </div>
	<div class="col-sm-6 col-md-4">
        <div class="teaser teaser-desc-inner">
        	<img class="teaser-img" data-aspect="1.62" src="/system/assets/images/teaser/bulls-eye.jpg" alt="Lists">
        	<h2 class="teaser-heading overlay overlay-top ribbon"><a href="lists/index.html">Lists</a></h2>
            <p class="teaser-description overlay overlay-bottom ribbon">Lists of content shown in a variety of way from carousels to accordions</p>
		</div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="teaser teaser-desc-inner">
        	<img class="teaser-img" data-aspect="1.62" src="/system/assets/images/teaser/balloons.jpg" alt="Features">
        	<h2 class="teaser-heading teaser-heading overlay overlay-top ribbon"><a href="features/index.html" title="">Features</a></h2>
            <p class="teaser-description overlay overlay-bottom ribbon">Additional features to enrich the site like popups and notifications</p>
		</div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="teaser teaser-desc-inner">
	    	<img class="teaser-img" data-aspect="1.62" src="/system/assets/images/teaser/bootstrap.png" alt="3rd Party Products">
	    	<h2 class="teaser-heading overlay overlay-top ribbon"><a href="3rd-party-products.html" title="">3<sup>rd</sup> Party Products</a></h2>
    		<p class="teaser-description overlay overlay-bottom ribbon">More information on the 3<sup>rd</sup> party libraries used in the HTML Design</p>
		</div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="teaser teaser-desc-inner">
	    	<img class="teaser-img" data-aspect="1.62" src="/system/assets/images/teaser/bridge.jpg" alt="Build it">
	    	<h2 class="teaser-heading overlay overlay-top ribbon"><a href="build.html">Build it</a></h2>
    		<p class="teaser-description overlay overlay-bottom ribbon">How to manually build (compile/merge/minify) the HTML Design assets yourself</p>
		</div>
    </div>
</div>