---
title: Index
section: Elements
---
<div class="row">
	<div class="col-sm-12">
		{{> breadcrumb }}
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-3">
		{{> nav-sidebar }}
	</div>
	<div class="col-sm-12 col-md-9">
		{{> share-buttons}}
		<article class='rich-text'>
			<div class='row'>
				<div class="col-md-12">
					<h1>Elements</h1>
					<div class='meta'>Posted on 1st January 1970 by Joe Bloggs</div>
				</div>
			</div>
			<img class='center-block' src="http://fpoimg.com/653x200?text=Feature%20Image%20(.rich-text.center-block)" alt="Fullwidth article banner">
			<div class='content'>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="teaser clearfix image-loading">
						<img src="/system/assets/images/Large/balloons.jpg" alt="Beautiful Saint John">
						<div class="loading-panel"></div>
						<div class="description">
				    		<h3 class="overlay overlay-top ribbon"><a href="/elements/article.html">Article</a></h3>
				    		<p class="overlay overlay-bottom ribbon">The article page with a hero heading image and examples of images and videos in the content</p>
				        	<a href="http://saintjohn01.ams.dev:81/saint-john/index" title="">Read More <i class="fa fa-chevron-right"></i></a>
				    	</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
			        <div class="teaser clearfix image-loading">
			        	<img src="/system/assets/images/Large/balloons.jpg" alt="Culinary Adventures">
			        	<div class="loading-panel"></div>
			        	<div class="description">
			        		<h3 class="overlay overlay-top ribbon"><a href="/elements/article-nonimg.html">Article (no image)</a></h3>
				            <p class="overlay overlay-bottom ribbon">A simple article with no hero heading image</p>
					    	<a href="http://saintjohn01.ams.dev:81/saint-john/index" title="">Read More <i class="fa fa-chevron-right"></i></a>
					    </div>
					</div>
			    </div>
			    <div class="col-sm-6 col-md-4">
			        <div class="teaser clearfix image-loading">
				    	<img src="/system/assets/images/Large/balloons.jpg" alt="Beautiful Saint John">
				    	<div class="loading-panel"></div>
				    	<div class="description">
				    		<h3 class="overlay overlay-top ribbon"><a href="/elements/location.html">Location</a></h3>
				    		<p class="overlay overlay-bottom ribbon">The location page</p>
				        	<a href="http://saintjohn01.ams.dev:81/saint-john/index" title="">Read More <i class="fa fa-chevron-right"></i></a>
				        </div>
					</div>
			    </div>
			    <div class="col-sm-6 col-md-4">
			        <div class="teaser clearfix image-loading">
			        	<img src="/system/assets/images/Large/balloons.jpg" alt="Culinary Adventures">
			        	<div class="loading-panel"></div>
			        	<div class="description">
			        		<h3 class="overlay overlay-top ribbon"><a href="/elements/downloads.html">Downloads</a></h3>
				            <p class="overlay overlay-bottom ribbon">Downloads page</p>
					    	<a href="http://saintjohn01.ams.dev:81/saint-john/index" title="">Read More <i class="fa fa-chevron-right"></i></a>
					    </div>
					</div>
			    </div>
			    <div class="col-sm-6 col-md-4">
			        <div class="teaser clearfix image-loading">
				    	<img src="/system/assets/images/Large/balloons.jpg" alt="Beautiful Saint John">
				    	<div class="loading-panel"></div>
				    	<div class="description">
				    		<h3 class="overlay overlay-top ribbon"><a href="/layouts/content.html">Teasers</a></h3>
				    		<p class="overlay overlay-bottom ribbon">Example teasers shown in 2 and 3 column layouts, taken from the Columns page</p>
				        	<a href="http://saintjohn01.ams.dev:81/saint-john/index" title="">Read More <i class="fa fa-chevron-right"></i></a>
				        </div>
					</div>
			    </div>
			</div>
	</div>
</div>