---
title: Teasers
section: Elements
---
<div class="row">
	<div class="col-sm-12">
		{{> breadcrumb }}
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-3">
		{{> nav-sidebar }}
	</div>
	<div class="col-sm-12 col-md-9">
		<div class="row">
			<h2>Teaser styling</h2>
			<h3>Regular teasers</h3>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="teaser loader">
			    	<img class="teaser-img loader-img" src="/system/assets/images/Large/planes.jpg" alt="Planes">
			    	<div class="loader-overlay"></div>
		    		<h4 class="teaser-heading">Planes</h4>
		    		<p class="teaser-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		        	<a class="teaser-link" href="#" title="">Read More <i class="fa fa-chevron-right"></i></a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="teaser loader">
			    	<img class="teaser-img loader-img" src="/system/assets/images/Large/calculator.jpg" alt="Calculator">
			    	<div class="loader-overlay"></div>
			    	<h4 class="teaser-heading">Calculator</h4>
			    	<p class="teaser-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<a class="teaser-button btn btn-default" href="#" title="">Read More .btn-default</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="teaser loader">
			    	<img class="teaser-img loader-img" src="/system/assets/images/Large/skyscrapers.jpg" alt="Skyscrapers">
			    	<div class="loader-overlay"></div>
			    	<h4 class="teaser-heading">Skyscrapers</h4>
					<p class="teaser-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<a class="teaser-button btn btn-primary" href="#" title="">Read More .btn-primary</a>
				</div>
			</div>
			<h3>Brand colored teasers</h3>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="teaser teaser-colored loader">
			    	<img class="teaser-img loader-img" src="/system/assets/images/Large/planes.jpg" alt="Planes">
			    	<div class="loader-overlay"></div>
		    		<h4 class="teaser-heading">Planes</h4>
		    		<p class="teaser-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		        	<a class="teaser-link" href="#" title="">Read More <i class="fa fa-chevron-right"></i></a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="teaser teaser-colored loader">
			    	<img class="teaser-img loader-img" src="/system/assets/images/Large/calculator.jpg" alt="Calculator">
			    	<div class="loader-overlay"></div>
			    	<h4 class="teaser-heading">Calculator</h4>
			    	<p class="teaser-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<a class="teaser-button btn btn-default" href="#" title="">Read More .btn-default</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="teaser teaser-colored loader">
			    	<img class="teaser-img loader-img" src="/system/assets/images/Large/skyscrapers.jpg" alt="Skyscrapers">
			    	<div class="loader-overlay"></div>
			    	<h4 class="teaser-heading">Skyscrapers</h4>
					<p class="teaser-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<a class="teaser-button btn btn-primary" href="#" title="">Read More .btn-primary</a>
				</div>
			</div>
			<h3>Teasers with overlayed heading and description</h3>
			<div class="col-xs-12 col-sm-6 col-md-4">
			    	<div class="teaser teaser-desc-inner loader">
			        	<img class="teaser-img loader-img" src="/system/assets/images/Large/map.jpg" alt="Culinary Adventures">
			        	<div class="loading-panel"></div>
			    		<h3 class="teaser-heading overlay overlay-top ribbon"><a href="/elements/location.html">Map</a></h4>
			            <p class="teaser-description overlay overlay-bottom ribbon">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				    	<a class="teaser-link" href="/elements/location.html" title="">Read More <i class="fa fa-chevron-right"></i></a>
					</div>
			    </div>
			    <div class="col-xs-12 col-sm-6 col-md-4">
			    	<div class="teaser teaser-desc-inner loader">
			        	<img class="teaser-img loader-img" src="/system/assets/images/Large/wall.jpg" alt="Culinary Adventures">
			        	<div class="loading-panel"></div>
			    		<h3 class="teaser-heading overlay overlay-top ribbon"><a href="/elements/downloads.html">Wall</a></h4>
			            <p class="teaser-description overlay overlay-bottom ribbon">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				    	<a class="teaser-link" href="/elements/downloads.html" title="">Read More <i class="fa fa-chevron-right"></i></a>
					</div>
			    </div>
			    <div class="col-xs-12 col-sm-6 col-md-4">
			    	<div class="teaser teaser-desc-inner loader">
			        	<img class="teaser-img loader-img" src="/system/assets/images/Large/ballon-burner.jpg" alt="Culinary Adventures">
			        	<div class="loading-panel"></div>
			    		<h3 class="teaser-heading overlay overlay-top ribbon"><a href="/elements/teasers.html">Ballon Burner</a></h4>
			            <p class="teaser-description overlay overlay-bottom ribbon">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				    	<a class="teaser-link" href="/elements/teasers.html" title="">Read More <i class="fa fa-chevron-right"></i></a>
					</div>
			    </div>
		</div>
		<hr/>
		<h2>Overlays</h2>
		<h3>Overlay Text Styles</h3>
		<div class="row">
			<div class="col-sm-6">
				<div class='feature'>
					<img src="http://placekitten.com/410/120" alt="">
					<h4 class='overlay overlay-bottom ribbon'>Heading (.ribbon)</h4>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<p><a href='#'>Read more <i class="fa fa-chevron-right"></i></a></p>
			</div>
			<div class="col-sm-6">
				<div class='feature'>
					<img src="http://placekitten.com/410/120" alt="">
					<h4 class='overlay overlay-bottom glow'>Heading (.glow)</h4>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<p><a href='#'>Read more <i class="fa fa-chevron-right"></i></a></p>
			</div>
		</div>

		<h3>Overlay Positioning</h3>

		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class='feature'>
					<img src="http://placekitten.com/303/120" alt="">
					<h4 class='overlay overlay-bottom ribbon'>.overlay-bottom</h4>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class='feature'>
					<img src="http://placekitten.com/303/120" alt="">
					<h4 class='overlay overlay-top ribbon'>.overlay-top</h4>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class='feature'>
					<img src="http://placekitten.com/303/120" alt="">
					<h4 class='overlay overlay-tl ribbon'>.overlay-tl</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class='feature'>
					<img src="http://placekitten.com/303/120" alt="">
					<h4 class='overlay overlay-tr ribbon'>.overlay-tr</h4>
				</div>
			</div>
			<div class="col-sm-4">
				<div class='feature'>
					<img src="http://placekitten.com/303/120" alt="">
					<h4 class='overlay overlay-bl ribbon'>.overlay-bl</h4>
				</div>
			</div>
			<div class="col-sm-4">
				<div class='feature'>
					<img src="http://placekitten.com/303/120" alt="">
					<h4 class='overlay overlay-br ribbon'>.overlay-br</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class='feature'>
					<img src="http://placekitten.com/304/120" alt="">
					<h4 class='overlay overlay-bottom glow'>Default Align</h4>
				</div>
			</div>
			<div class="col-sm-4">
				<div class='feature'>
					<img src="http://placekitten.com/304/120" alt="">
					<h4 class='overlay overlay-bottom glow text-center'>.text-center</h4>
				</div>
			</div>
			<div class="col-sm-4">
				<div class='feature'>
					<img src="http://placekitten.com/304/120" alt="">
					<h4 class='overlay overlay-bottom glow text-right'>.text-right</h4>
				</div>
			</div>
		</div>
		
	</div>
</div>