<ol class="breadcrumb">
	<li><a href="/"><i class="fa fa-home"> <span class='sr-only'>Home</span></i></a></li>
	<li><a href="/{{permalink}}">{{section}}</a></li>
	<li class="active">{{title}}</li>
</ol>