<!DOCTYPE html>
<html class='no-js'>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{title}} | {{site.title}}</title>

    <!--
      <link rel="stylesheet/less" type="text/css" href="/assets/less/main.less" />
      <script src="/bower_components/less.js/dist/less-1.7.0.min.js"></script>
    -->

    <!-- build:css(.tmp) /assets/css/main.css -->
      <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
      <link rel="stylesheet" type="text/css" href="/assets/css/icons.css" />
    <!-- endbuild -->

    <!-- build:js(src) /assets/scripts/header.js -->
      <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>