<div id="incompability" class="container-fluid page-border">
  <div class="row">
    <div class="col-sm-9">
      <div class="h4">Old browser</div>
      <p>We are sorry, but your browser is too old and some parts of this site might looks or works incorrectly. Update your browser to new one.</p>
    </div>
    <div class="col-sm-3">
      <ul class="nav nav-cookie">
        <li>
          <a id="incompability-hide" href="#"><i class="fa fa-check-circle"></i> Continue</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-cog"></i> Update browser</a>
        </li>
        <li>
         <a href="#"><i class="fa fa-question-circle"></i> Help me</a>
        </li>
      </ul>
    </div>
  </div>  
</div>