<li class='mega-nav-link'>
  <a href="#">Mega Nav One</a>
  <div class='mega-nav'>
	<div class="row">
	  <div class="col-sm-8">
		<div class='mega-nav-content'>
		  <div class='row'>
			<div class="col-sm-6">
			  <h5><i class='fa fa-cog'></i> Group One</h5>
			  <ul class="list-unstyled">
				<li>
				  <a href="#" tabindex="0">Link One</a>
				</li>
				<li>
					<a href="#" tabindex="0">Link Two</a>
				</li>
				<li>
				  <a href="#" tabindex="0">Link Three</a>
				</li>
			  </ul>
			</div>
			<div class="col-sm-6">
			  <h5><i class='fa fa-cloud'></i> Group Two</h5>
			  <ul class="list-unstyled">
				<li>
				  <a href="#">Link One</a>
				</li>
				<li>
				  <a href="#">Link Two</a>
				</li>
				<li>
				  <a href="#">Link Three</a>
				</li>
				<li>
				  <a href="#">Link Four</a>
				</li>
			  </ul>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</li>
<li class='mega-nav-link'>
  <a href="#">Mega Nav Two</a>
  <div class='mega-nav'>
	<div class="row">
	  <div class="col-sm-8">
		<div class='mega-nav-content'>
		  <h4>Mega Navs</h4>
		  <p>A mega nav can contain most types of content.</p>
		  <div class='row'>
			<div class="col-sm-4">
			  <h5>Group Three</h5>
			  <ul class="list-unstyled">
				<li>
				  <a href="#">Link One</a>
				</li>
				<li>
				  <a href="#">Link Two</a>
				</li>
				<li>
				  <a href="#">Link Three</a>
				</li>
				<li>
				  <a href="#">Link Four</a>
				</li>
				<li>
				  <a href="#">Link Five</a>
				</li>
				<li>
				  <a href="#">Link Six</a>
				</li>
			  </ul>
			</div>
			<div class="col-sm-4">
			  <h5>Group Four</h5>
			  <ul class="list-unstyled">
				<li>
				  <a href="#">Link One</a>
				</li>
				<li>
				  <a href="#">Link Two</a>
				</li>
				<li>
				  <a href="#">Link Three</a>
				</li>
				<li>
				  <a href="#">Link Four</a>
				</li>
			  </ul>
			</div>
			<div class="col-sm-4">
			  <h5>Group Five</h5>
			  <ul class="list-unstyled">
				<li>
				  <a href="#">Link One</a>
				</li>
				<li>
				  <a href="#">Link Two</a>
				</li>
			  </ul>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</li>