


<footer class='page-footer'>

	<div class='container'>

		<div class='row'>
			<div class='col-sm-3'>
				<div class='h4'>Footer Links</div>
				<ul class="list-unstyled">
					<li>
						<a href="#">Link one</a>
					</li>
					<li>
						<a href="#">Link two</a>
					</li>
					<li>
						<a href="#">Link three</a>
					</li>
					<li>
						<a href="#">Link four</a>
					</li>
				</ul>
			</div>
			<div class='col-sm-3'>
				<div class='h4'>News/Blog</div>
				<ul class="list-unstyled">
					<li>
						<a href="#">Link one</a>
					</li>
					<li>
						<a href="#">Link two</a>
					</li>
					<li>
						<a href="#">Link three</a>
					</li>
					<li>
						<a href="#">Link four</a>
					</li>
				</ul>

			</div>
			<div class='col-sm-3'>
				
				
			</div>
			<div class='col-sm-3'>
				<div class='icon-list'>
					<a href='#' class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-twitter fa-stack-1x"></i>
					</a>
					<a href='#' class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-facebook fa-stack-1x"></i>
					</a>
					<a href='#' class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-linkedin fa-stack-1x"></i>
					</a>
				</div>
			</div>
		</div>

		<hr/>

		<ul class='list-inline text-center'>
			<li>
				<small>&copy; Copyright 2014</small>
			</li>
			<li>
				<small><a href="#">Cookie Policy</a></small>
			</li>
			<li>
				<small><a href="#">Privacy</a></small>
			</li>
		</ul>
		
	</div>
</footer>

