<div class='share-buttons'>
	Share: 
	<ul>
		<li class='share-facebook'>
			<a href='#'>
				<i class="fa fa-facebook"></i>
			</a>
		</li>
		<li class='share-twitter'>
			<a href='#'>
				<i class="fa fa-twitter"></i>
			</a>
		</li>
		<li class='share-google-plus'>
			<a href='#'>
				<i class="fa fa-google-plus"></i>
			</a>
		</li>
		<li class='share-email'>
			<a href='#'>
				<i class="fa fa-envelope"></i>
			</a>
		</li>
	</ul>
</div>