---
title: Accordion
section: Lists
---

<div class="row">
	<div class="col-sm-12">
		{{> breadcrumb }}
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-3">
		{{> nav-sidebar }}
	</div>
	<div class="col-sm-12 col-md-9">
		<article class='rich-text'>
			<h1>Accordions</h1>

			<p>
				The standard way of implementing accordions with Boostrap makes them very hard to use on mobile devices. 
				E.g. opening the second item will cause the first item to close, and the content to shift up by the height of the forst item, disorientating the user.
			</p>

			<div class="panel-group" id="accordion">
				<!-- ToDo: convert dummy text into documentation or usage instruction -->

				<div class="panel panel-default">
					<div class="panel-heading" data-toggle="collapse" data-target="#collapseOne" data-parent="#accordion">
						<h4 class="panel-title">Collapsible Group Item #1</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in">
						<div class="panel-body">
							Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
							Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading" data-toggle="collapse" data-target="#collapseTwo" data-parent="#accordion">
						<h4 class="panel-title">Collapsible Group Item #2</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse">
						<div class="panel-body">
							Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
							Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading" data-toggle="collapse" data-target="#collapseThree" data-parent="#accordion">
						<h4 class="panel-title">Collapsible Group Item #3</h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse">
						<div class="panel-body">
							Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
							Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
						</div>
					</div>
				</div>

				<p>Removing the 'data-parent' attribute means that opening one item does not close another, which works much better on mobile devices</p>

				<div class="panel-group">

					<div class="panel panel-default">
						<div class="panel-heading" data-toggle="collapse" data-target="#collapse2One">
							<h4 class="panel-title">Collapsible Group Item #1</h4>
						</div>
						<div id="collapse2One" class="panel-collapse collapse in">
							<div class="panel-body">
								Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
								Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading" data-toggle="collapse" data-target="#collapse2Two">
							<h4 class="panel-title">Collapsible Group Item #2</h4>
						</div>
						<div id="collapse2Two" class="panel-collapse collapse">
							<div class="panel-body">
								Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
								Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading" data-toggle="collapse" data-target="#collapse2Three">
							<h4 class="panel-title">Collapsible Group Item #3</h4>
						</div>
						<div id="collapse2Three" class="panel-collapse collapse">
							<div class="panel-body">
								Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
								Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
							</div>
						</div>
					</div>

				</div>

				<p>To get the best experience on both mobile and other devices I have added some javascript that removes the 'data-parent' attribute only if a mobile device is detected. To enable this add the class 'responsive-accordion' to the accordion parent.</p>

				<div class="panel-group responsive-accordion" id="accordion3">

					<div class="panel panel-default">
						<div class="panel-heading" data-toggle="collapse" data-target="#collapse3One" data-parent="#accordion3">
							<h4 class="panel-title">Collapsible Group Item #1</h4>
						</div>
						<div id="collapse3One" class="panel-collapse collapse in">
							<div class="panel-body">
								Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
								Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading" data-toggle="collapse" data-target="#collapse3Two" data-parent="#accordion3">
							<h4 class="panel-title">Collapsible Group Item #2</h4>
						</div>
						<div id="collapse3Two" class="panel-collapse collapse">
							<div class="panel-body">
								Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
								Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading" data-toggle="collapse" data-target="#collapse3Three" data-parent="#accordion3">
							<h4 class="panel-title">Collapsible Group Item #3</h4>
						</div>
						<div id="collapse3Three" class="panel-collapse collapse">
							<div class="panel-body">
								Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
								Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
							</div>
						</div>
					</div>

				</div>
			</div>
		</article>
	</div>
</div>