---
title: Image Gallery
section: Lists
---

<div class="row">
	<div class="col-sm-12">
		{{> breadcrumb }}
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-3">
		{{> nav-sidebar }}
	</div>
	<div class="col-sm-12 col-md-9">
		<article class='rich-text'>
			<h1>Image Gallery</h1>
			
			<ul class="popup-image-gallery list-gallery">
				<li>
					<a href="/system/assets/images/large/airlines.jpg">
						<img src="/system/assets/images/thumbnail/airlines.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="/system/assets/images/large/bicycle.jpg">
						<img src="/system/assets/images/thumbnail/bicycle.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="/system/assets/images/large/camera.jpg">
						<img src="/system/assets/images/thumbnail/camera.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="/system/assets/images/large/fruit.jpg">
						<img src="/system/assets/images/thumbnail/fruit.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="/system/assets/images/large/gutman.jpg">
						<img src="/system/assets/images/thumbnail/gutman.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="/system/assets/images/large/taxi.jpg">
						<img src="/system/assets/images/thumbnail/taxi.jpg" alt="">
					</a>
				</li>
			</ul>
		</article>
	</div>
</div>