---
title: Index
section: Lists
---
<div class="row">
	<div class="col-sm-12">
		<div class="hero">
			<img alt="" src="/system/assets/images/wide/bulls-eye.jpg">
			<div class="overlay overlay-tl ribbon">
				<h1>Content Lists</h1>		
			</div>
		</div>
		<div class='content'>
			<p>Content Types which consist of multiple items are shown in this section. Click through to see the detailed design for each Content List.</p>
		</div
	</div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4">
    	<div class="teaser teaser-colored">
        	<h2 class="teaser-heading">Accordions</h2>
            <p class="teaser-description">Showing items in sections which collapse when another section heading is clicked</p>
	    	<a class="teaser-link" href="accordion.html" title="">View Content List <i class="fa fa-chevron-right"></i></a>
		</div>
    </div>
    <div class="col-sm-6 col-md-4">
    	<div class="teaser teaser-colored">
        	<h2 class="teaser-heading">Carousels</h2>
            <p class="teaser-description">An animated carousel which cycles through a set of content items one by one.</p>
	    	<a class="teaser-link" href="carousel.html" title="">View Content List <i class="fa fa-chevron-right"></i></a>
		</div>
    </div>
    <div class="col-sm-6 col-md-4">
    	<div class="teaser teaser-colored">
        	<h2 class="teaser-heading">Image Gallery</h2>
            <p class="teaser-description">A set of image thumbnails, which can be clicked on to show a full version with navigation controls to move through the elements</p>
	    	<a class="teaser-link" href="gallery.html" title="">View Content List <i class="fa fa-chevron-right"></i></a>
		</div>
    </div>
    <div class="col-sm-6 col-md-4">
    	<div class="teaser teaser-colored">
        	<h2 class="teaser-heading">Paged Lists</h2>
            <p class="teaser-description">For long lists, you can implement a paging control, to show limit the number of items shown at a time</p>
	    	<a class="teaser-link" href="paged.html" title="">View Content List <i class="fa fa-chevron-right"></i></a>
		</div>
    </div>
	<div class="col-sm-6 col-md-4">
    	<div class="teaser teaser-colored">
        	<h2 class="teaser-heading">Tabs</h2>
            <p class="teaser-description">Showing a set of tabs, which can be clicked to show different sections of content</p>
	    	<a class="teaser-link" href="tabs.html" title="">View Content List <i class="fa fa-chevron-right"></i></a>
		</div>
    </div>
</div>