---
title: Index
section: Lists
---
<div class="row">
	<div class="col-sm-12">
		{{> breadcrumb }}
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-3">
		{{> nav-sidebar }}
	</div>
	<div class="col-sm-12 col-md-9">
		{{> share-buttons}}
		<article class='rich-text'>
			<div class='row'>
				<div class="col-md-12">
					<h1>Lists</h1>
					<div class='meta'>Posted on 1st January 1970 by Joe Bloggs</div>
				</div>
			</div>
			<img class='center-block' src="http://fpoimg.com/653x200?text=Feature%20Image%20(.rich-text.center-block)" alt="Fullwidth article banner">
			<div class='content'>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="teaser teaser-desc-inner loader">
			        	<img class="teaser-img loader-img" src="/system/assets/images/Large/skyscrapers.jpg" alt="Culinary Adventures">
			        	<div class="loading-panel"></div>
			    		<h3 class="teaser-heading overlay overlay-top ribbon"><a href="/lists/carousel.html">Carousel</a></h4>
			            <p class="teaser-description overlay overlay-bottom ribbon">Carousel examples showing all possible layouts</p>
				    	<a class="teaser-link" href="/lists/carousel.html" title="">Read More <i class="fa fa-chevron-right"></i></a>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="teaser teaser-desc-inner loader">
			        	<img class="teaser-img loader-img" src="/system/assets/images/Large/skyscrapers.jpg" alt="Culinary Adventures">
			        	<div class="loading-panel"></div>
			    		<h3 class="teaser-heading overlay overlay-top ribbon"><a href="/lists/paged.html">Paged List</a></h4>
			            <p class="teaser-description overlay overlay-bottom ribbon">Like the search results page we have now</p>
				    	<a class="teaser-link" href="/lists/paged.html" title="">Read More <i class="fa fa-chevron-right"></i></a>
					</div>
			    </div>
			    <div class="col-sm-6 col-md-4">
			    	<div class="teaser teaser-desc-inner loader">
			        	<img class="teaser-img loader-img" src="/system/assets/images/Large/skyscrapers.jpg" alt="Culinary Adventures">
			        	<div class="loading-panel"></div>
			    		<h3 class="teaser-heading overlay overlay-top ribbon"><a href="/lists/accordian.html">Accordian</a></h4>
			            <p class="teaser-description overlay overlay-bottom ribbon">Accordian examples</p>
				    	<a class="teaser-link" href="/lists/accordian.html" title="">Read More <i class="fa fa-chevron-right"></i></a>
					</div>
			    </div>
			    <div class="col-sm-6 col-md-4">
			    	<div class="teaser teaser-desc-inner loader">
			        	<img class="teaser-img loader-img" src="/system/assets/images/Large/skyscrapers.jpg" alt="Culinary Adventures">
			        	<div class="loading-panel"></div>
			    		<h3 class="teaser-heading overlay overlay-top ribbon"><a href="/lists/tabs.html">Tabs</a></h4>
			            <p class="teaser-description overlay overlay-bottom ribbon">Tabs examples</p>
				    	<a class="teaser-link" href="/lists/tabs.html" title="">Read More <i class="fa fa-chevron-right"></i></a>
					</div>
			    </div>
			    <div class="col-sm-6 col-md-4">
			    	<div class="teaser teaser-desc-inner loader">
			        	<img class="teaser-img loader-img" src="/system/assets/images/Large/skyscrapers.jpg" alt="Culinary Adventures">
			        	<div class="loading-panel"></div>
			    		<h3 class="teaser-heading overlay overlay-top ribbon"><a href="/lists/gallery.html">Image Gallery</a></h4>
			            <p class="teaser-description overlay overlay-bottom ribbon">Like the Image gallery section in the current popups page</p>
				    	<a class="teaser-link" href="/lists/gallery.html" title="">Read More <i class="fa fa-chevron-right"></i></a>
					</div>
			    </div>
			</div>
	</div>
</div>