---
title: Tabs
section: Lists
---

<div class="row">
	<div class="col-sm-12">
		{{> breadcrumb }}
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-3">
		{{> nav-sidebar }}
	</div>
	<div class="col-sm-12 col-md-9">

		<article class='rich-text'>

			<h1>Tabs</h1>

			<div class='content'>

				<p>
					These are the standard Bootstap Tabs with some additional JavaScript to make the tabs 
					horizontally scroll when the container width is less than the total tab width. 
					This is particularly useful on mobile, but also works when there are lot of tabs on 
					larger screen sizes.
				</p>

				<div class="panel panel-default">
					<div class="panel-body tab-container">

						<div class="dropdown visible-xs">

							<select class="tab-group form-control" data-toggle="tab">
								<option value="#tab1" data-toggle="tab">Tab One</option>
								<option value="#tab2" data-toggle="tab">Tab Two</option>
								<option value="#tab3" data-toggle="tab">Tab Three</option>
								<option value="#tab4" data-toggle="tab">Tab Four</option>
							</select>

						</div>

						<ul class="tab-group nav nav-tabs hidden-xs">
							<li class="active"><a href="#tab1" data-toggle="tab">Tab One</a></li>
							<li><a href="#tab2" data-toggle="tab">Tab Two</a></li>
							<li><a href="#tab3" data-toggle="tab">Tab Three</a></li>
							<li><a href="#tab4" data-toggle="tab">Tab Four</a></li>
						</ul>

						<!-- Tab panes -->
						<div class="tab-content">
							<div class="tab-pane active" id="tab1">
								<!-- ToDo: convert dummy text into documentation or usage instruction -->
								<p>Tab One. Leverage agile frameworks to provide a robust synopsis for 
								high level overviews. Iterative approaches to corporate strategy foster 
								collaborative thinking to further the overall value proposition. 
								Organically grow the holistic world view of disruptive innovation via 
								workplace diversity and empowerment.</p>
							</div>
							<div class="tab-pane" id="tab2">
								<!-- ToDo: convert dummy text into documentation or usage instruction -->
								<p>Tab Two. Bring to the table win-win survival strategies to 
								ensure proactive domination. At the end of the day, going forward, a new 
								normal that has evolved from generation X is on the runway heading towards 
								a streamlined cloud solution. User generated content in real-time will 
								have multiple touchpoints for offshoring.</p>
							</div>
							<div class="tab-pane" id="tab3">
								<!-- ToDo: convert dummy text into documentation or usage instruction -->
								<p>Tab Three. Capitalise on low hanging fruit to identify a 
								ballpark value added activity to beta test. Override the digital divide 
								with additional clickthroughs from DevOps. Nanotechnology immersion 
								along the information highway will close the loop on focusing solely on 
								the bottom line.</p>
							</div>
							<div class="tab-pane" id="tab4">
								<!-- ToDo: convert dummy text into documentation or usage instruction -->
								<p>Tab Four. Podcasting operational change management inside of workflows 
								to establish a framework. Taking seamless key performance indicators 
								offline to maximise the long tail. Keeping your eye on the ball while 
								performing a deep dive on the start-up mentality to derive convergence 
								on cross-platform integration.</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</article>

	</div>
</div>