---
title: Tabs
section: Lists
---

<div class="row">
	<div class="col-sm-12">
		{{> breadcrumb }}
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-3">
		{{> nav-sidebar }}
	</div>
	<div class="col-sm-12 col-md-9">

		<article class='rich-text'>

			<h1>Tabs</h1>

			<div class='content'>

				<p>
					These are the standard Bootstap Tabs with some additional JavaScript to make the tabs 
					horizontally scroll when the container width is less than the total tab width. 
					This is particularly useful on mobile, but also works when there are lot of tabs on 
					larger screen sizes.
				</p>

				<div class="panel panel-default">
					<div class="panel-body tab-container">

						<div class="dropdown visible-xs">

							<select class="tab-group form-control" data-toggle="tab">
								<option data-target="#tab1" data-toggle="tab">Tab One</option>
								<option data-target="#tab2" data-toggle="tab">Tab Two</option>
								<option data-target="#tab3" data-toggle="tab">Tab Three</option>
								<option data-target="#tab4" data-toggle="tab">Tab Four</option>
							</select>

						</div>

						<ul class="tab-group nav nav-tabs hidden-xs">
							<li class="active"><a href="#tab1" data-toggle="tab">Tab One</a></li>
							<li><a href="#tab2" data-toggle="tab">Tab Two</a></li>
							<li><a href="#tab3" data-toggle="tab">Tab Three</a></li>
							<li><a href="#tab4" data-toggle="tab">Tab Four</a></li>
						</ul>

						<!-- Tab panes -->
						<div class="tab-content">
							<div class="tab-pane active" id="tab1">
								Tab One. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>
							<div class="tab-pane" id="tab2">
								Tab Two. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. 
							</div>
							<div class="tab-pane" id="tab3">
								Tab Three. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>
							<div class="tab-pane" id="tab4">
								Tab Four. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>
						</div>
					</div>
				</div>
			</div>

		</article>

	</div>
</div>