---
layout: src/templates/layouts/blank.hbs
---
<div class="popup-content">
	<!-- ToDo: convert dummy text into documentation or usage instruction -->
	<h3>Some ajax content <small>(.popup-content .mfp-hide)</small></h3>
	<p>Leverage agile frameworks to provide a robust synopsis for high level 
	overviews. Iterative approaches to corporate strategy foster collaborative 
	thinking to further the overall value proposition. Organically grow the holistic 
	world view of disruptive innovation via workplace diversity and empowerment.</p>
	<p>
		<img src='http://lorempixel.com/120/120/sports/2/' alt=''>
	</p>
</div>