---
title: Content Page
section: Layouts
---
{{> breadcrumb }} 
{{> share-buttons}}
<div class="row">
	<div class="col-sm-12 col-md-3">
		{{> nav-sidebar }}
	</div>
	<div class="col-sm-12 col-md-9">
		<div class="hero">
			<img alt="" src="/system/assets/images/wide/skyscrapers.jpg">
			<div class="overlay overlay-tl ribbon">
				<h1>Content Page</h1>		
			</div>
		</div>
		<p>A Content Page often has a single piece of main content (for example an article). It is typically and end-point in navigating the site, so provides contextual navigation in the form of a breadcrumb and left navigation showing other pages in the same section. There is also a content toolbar containing links to share the content on social media platforms.</p>
	</div>
</div>