---
title: Index
section: Layouts
---
<div class="row">
	<div class="col-xs-12">
		<div class="hero">
			<img alt="" src="/system/assets/images/wide/blueprint.jpg">
			<div class="overlay overlay-tl ribbon">
				<h1>Page Layouts</h1>		
			</div>
		</div>
		<p>A <strong>Page Layout</strong> defines the high level structure of a type of page in the site. You can combine any set of features to make a page layout, however the following are the pre-defined layouts we work with as examples in the Reference Implementation. Click through to see how each page layout is composed</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-md-4">
    	<div class="teaser teaser-colored">
        	<h2 class="teaser-heading">Section Page</h2>
            <p class="teaser-description">Showing full width, 2 and 3 column content without context navigation or content toolbar</p>
	    	<a class="teaser-link" href="section.html" title="">View Layout <i class="fa fa-chevron-right"></i></a>
		</div>
    </div>
    <div class="col-sm-6 col-md-4">
    	<div class="teaser teaser-colored">
        	<h2 class="teaser-heading">Content Page</h2>
            <p class="teaser-description">Showing content with left navigation, breadcrumb and content toolbar</p>
	    	<a class="teaser-link" href="content.html" title="">View Layout <i class="fa fa-chevron-right"></i></a>
		</div>
    </div>
    <div class="col-sm-6 col-md-4">
    	<div class="teaser teaser-colored">
        	<h2 class="teaser-heading">Content Page (No Nav)</h2>
            <p class="teaser-description">Showing content without left navigation, but including breadcrumb and content toolbar</p>
	    	<a class="teaser-link" href="content-no-nav.html" title="">View Layout <i class="fa fa-chevron-right"></i></a>
		</div>
    </div>
</div>