---
title: Index
section: Beta
---
<div class="row">
	<div class="col-sm-12">
		<article class="rich-text">
			<h1>Beta Features</h1>
			<div class="content">
				<div>
					<p>This section gives a glimpse of some future features which are currently under development. These elements have not yet been fully tested or implemented, but you are welcome to use them in custom View development.</p>
					<p>In addition to the sub-pages below, notice the Search box in the header, and the mega navigation items in the top navigation bar</p>
				</div>
			</div>
		</article>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="teaser teaser-colored">
			<h4 class="teaser-heading">Forms</h4>
			<p class="teaser-description">Basic form styling. This is just some simple text boxes and captions, more input options, validation etc. are under development.</p>
			<a class="teaser-link" href="forms.html" title="Forms">View Design <i class="fa fa-chevron-right"></i></a>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="teaser teaser-colored ">
			<h4 class="teaser-heading">Twitter Feed</h4>
			<p class="teaser-description">Twitter feed widget to show tweets from a given account.</p>
			<a class="teaser-link" href="twitter.html" title="Forms">View Design <i class="fa fa-chevron-right"></i></a>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="teaser teaser-colored">
			<h4 class="teaser-heading">Loading Panel</h4>
			<p class="teaser-description">An animated loading image superimposed over a container element to indicate some client-side/AJAX action is executing</p>
			<a class="teaser-link" href="loading-panel.html" title="Forms">View Design <i class="fa fa-chevron-right"></i></a>
		</div>
	</div>
</div>