---
title: Cookie Bar
section: Examples
---

<div class='container'>

	{{> breadcrumb }}
	
	<div class="row">
		<div class="col-sm-3">
			{{> nav-sidebar }}
		</div>
		<div class="col-sm-9">

			<article class='rich-text'>

				<h1>Cookie Bar</h1>

				<div class='content'>
{{#markdown}}

Cookie bar displays on first page of first visit and then a 'seen-cookie-notice' cookie is set, ensuring it is not shown again.

<a id='reset-cookiebar' href='#' class='btn btn-primary'>Reset Cookiebar</a><br/>
** Cookie bar will then persist for one page view*

{{/markdown}}
				</div>

			</article>

		</div>
	</div>

</div>

