---
title: Downloads
section: Examples
---
<div class="row">
	<div class="col-sm-12">
		{{> breadcrumb }}
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-3">
		{{> nav-sidebar }}
	</div>
	<div class="col-sm-12 col-md-9">
		<h1>Downloads</h1>

		<div class="download-list">
			<i class="fa fa-file"></i>
			<div>
				<a href="#">UserManual.pdf</a> <small class="size">(142 KB)</small>
				<small>Describes how to use our product</small>
			</div>
		</div>
		<div class="download-list">
			<i class="fa fa-file"></i>
			<div>
				<a href="#">UserManual.pdf</a> <small class="size">(142 KB)</small>
				<small>Describes how to use our product</small>
			</div>
		</div>
		<div class="download-list">
			<i class="fa fa-file"></i>
			<div>
				<a href="#">UserManual.pdf</a> <small class="size">(142 KB)</small>
				<small>Describes how to use our product</small>
			</div>
		</div>
		<div class="download-list">
			<i class="fa fa-file"></i>
			<div>
				<a href="#">UserManual.pdf</a> <small class="size">(142 KB)</small>
				<small>Describes how to use our product</small>
			</div>
		</div>
		<div class="download-list">
			<i class="fa fa-file"></i>
			<div>
				<a href="#">UserManual.pdf</a> <small class="size">(142 KB)</small>
				<small>Describes how to use our product</small>
			</div>
		</div>
	</div>
</div>