---
title: Downloads
section: Examples
---
<div class="row">
	<div class="col-sm-12">
		{{> breadcrumb }}
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		{{> nav-sidebar }}
	</div>
	<div class="col-sm-9">
		<h1>Downloads</h1>

		<ul class="download-list">
			<li>
				<i class="fa fa-file"></i>
				<div>
					<a href="#">UserManual.pdf</a>
					<small>Describes how to use our product</small>
				</div>
			</li>
			<li>
				<i class="fa fa-file"></i>
				<div>
					<a href="#">UserManual.pdf</a>
					<small>Describes how to use our product</small>
				</div>
			</li>
			<li>
				<i class="fa fa-file"></i>
				<div>
					<a href="#">UserManual.pdf</a>
					<small>Describes how to use our product</small>
				</div>
			</li>
			<li>
				<i class="fa fa-file"></i>
				<div>
					<a href="#">UserManual.pdf</a>
					<small>Describes how to use our product</small>
				</div>
			</li>
			<li>
				<i class="fa fa-file"></i>
				<div>
					<a href="#">UserManual.pdf</a>
					<small>Describes how to use our product</small>
				</div>
			</li>
		</ul>
	</div>
</div>