---
title: ExamplePage
section: Examples
---

<div class='container'>
	<div class="row">
		<div class="col-sm-4">
			<div class="teaser clearfix">
				<div class="description">
		    		<h3 class="overlay overlay-top ribbon">Beautiful Saint John</h3>
		    		<p class="overlay overlay-bl ribbon">See what this lovely island has to offer. You will stay forever!</p>
		        	<a href="http://saintjohn01.ams.dev:81/saint-john/index" title="">Read More <i class="fa fa-chevron-right"></i></a>
		    	</div>
		    	<img src="http://saintjohn01.ams.dev:82/cid/scale/688x425/source/site/media/orchids_tcm4-123.jpg" alt="Beautiful Saint John">
			</div>
		</div>
		<div class="col-sm-4">
            <div class="teaser clearfix">
            	<h3 class="overlay overlay-top ribbon">Culinary Adventures</h3>
		        <img src="http://saintjohn01.ams.dev:82/cid/scale/688x425/source/site/media/curry_tcm4-124.jpg" alt="Culinary Adventures">
			    <p class="overlay overlay-bl ribbon">Get a taste of island life</p>
			    <a href="http://saintjohn01.ams.dev:81/saint-john/index" title="">Read More <i class="fa fa-chevron-right"></i></a>
			</div>
        </div>
        <div class="col-sm-4">
            <div class="teaser clearfix">
		    	<h3 class="overlay overlay-top ribbon">Beautiful Saint John</h3>
		    	<img src="http://saintjohn01.ams.dev:82/cid/scale/688x425/source/site/media/orchids_tcm4-123.jpg" alt="Beautiful Saint John">
		    	<p class="overlay overlay-bl ribbon">See what this lovely island has to offer. You will stay forever!</p>
		        <a href="http://saintjohn01.ams.dev:81/saint-john/index" title="">Read More <i class="fa fa-chevron-right"></i></a>
			</div>
        </div>
	</div>
	<div class="row">
		<div class="col-sm-12">

			<!-- Hero-banner -->
			<h1>Hero banner</h1>
			<div class="hero">
                <img src="http://saintjohn01.ams.dev:82/cid/scale/940x285/source/site/media/orchids_tcm4-123.jpg" alt="Beautiful Saint John">
			    <a href="http://saintjohn01.ams.dev:81/saint-john/index" class="overlay overlay-tl ribbon">
	    	        <h2>Beautiful Saint John</h2>
	                <p class="h3">See what this lovely island has to offer.<br>You will stay forever!</p>
	    		</a>
			</div>

			<h1>Carousel</h1>
			<div id="carousel-large" class="carousel slide carousel-fullwidth">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-large" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-large" data-slide-to="1"></li>
					<li data-target="#carousel-large" data-slide-to="2"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active">
						<img src="http://placekitten.com/848/280" alt="">
						<h4 class="overlay overlay-tl ribbon">Header Carousel <small>(h4.overlay.overlay-tl.ribbon)</small></h4>
					</div>
					<div class="item">
						<img src="http://placekitten.com/848/280" alt="">
						<h4 class="overlay overlay-tr glow">All controls showing <small>(h4.overlay.overlay-br.glow)</small></h4>
					</div>
					<div class="item">
						<img src="http://placekitten.com/848/280" alt="">
						<div class="carousel-caption">
							<p><a href='http://getbootstrap.com/javascript/#carousel' class='btn btn-primary'>Find out more</a></p>
						</div>
					</div>
				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-large" data-slide="prev">
					<i class='fa fa-chevron-left carousel-icon-left'></i>
				</a>
				<a class="right carousel-control" href="#carousel-large" data-slide="next">
					<i class='fa fa-chevron-right carousel-icon-right'></i>
				</a>
			</div>

			{{> breadcrumb }}

			<article class='rich-text margin'>

				<div class='row'>
					<div class="col-md-8">
						<h1>Article Heading</h1>
						<div class='meta'>
							Posted on 1st January 1970 by Joe Bloggs
						</div>
					</div>
					<div class="col-md-4">
						{{> share-buttons}}
					</div>

				</div>

				

				<img class='center-block' src="http://fpoimg.com/653x200?text=Feature Image (.rich-text .center-block)" />

				<div class='content'>
{{#markdown}}
Anything wrapped in a containing element with a class of **rich-text** will be assumed to have come from a rich text editor. This gives extra context to classes like **pull-left**, **pull-right** and **center-block**.

<img class='pull-left' src="http://fpoimg.com/180x85?text=.rich-text .pull-left" />

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

<img class='pull-right' src="http://fpoimg.com/180x85?text=.rich-text .pull-right" />

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

<img class='center-block' src="http://fpoimg.com/300x100?text=.rich-text .center-block" />

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua.  


### Responsive Videos (YouTube/Vimeo Iframe Embeds)

<iframe width="960" height="720" src="//www.youtube.com/embed/tdHIhAFvEa0" frameborder="0" allowfullscreen></iframe>

### Using Figure with Captions

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

<figure>
	<img src="http://fpoimg.com/300x200?text=Figure with Caption" />
	<figcaption>
		<strong>Figure Caption.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua.
	</figcaption>
</figure>

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

<figure>
	<img class='center-block' src="http://fpoimg.com/400x200?text=Centered Figure with Caption" />
	<figcaption class='text-center'>
		<strong>Figure Caption (.text-center)</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua.
	</figcaption>
</figure>

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

<figure class='overlay-container'>
	<img src="http://placekitten.com/653/200" />
	<figcaption class='overlay overlay-bottom ribbon'>
		<strong>Figure Caption Overlay Bottom with Text Ribbon.</strong> overlay overlay-bottom ribbon</a>
	</figcaption>
</figure>

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

<figure class='overlay-container'>
	<img src="http://placekitten.com/653/200" />
	<figcaption class='overlay overlay-tl ribbon'>
		<strong>Figure Caption Overlay Top Left with Text Ribbon.</strong> overlay overlay-tl ribbon</a>
	</figcaption>
</figure>

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

<figure class='overlay-container'>
	<img src="http://placekitten.com/653/200" />
	<figcaption class='overlay overlay-top glow'>
		<strong>Figure Caption Overlay Top with Text Glow.</strong> overlay overlay-bottom glow</a>
	</figcaption>
</figure>

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

{{/markdown}}
				</div>

			</article>

		</div>
	</div>

</div>