---
title: Location
section: Examples
---

<div class="row">
	<div class="col-sm-12">
		{{> breadcrumb }}
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		{{> nav-sidebar }}
	</div>
	<div class="col-sm-9">
		<h2>Contact us</h2>
		<p>Where to find us and how to get there?</p>

		<div class="container-fluid">
			<div id="location-tile" class="row">
				<div class="col-sm-6">
					<div id="map-canvas" style="height:300px;"></div>
					<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxId4iD_j_G73gjgHZwb8NPcCVs24Mm4g"></script>
					<script type="text/javascript">
					  function initialize() {
					  	var myLatlng = new google.maps.LatLng(-34.397,150.644);
							
					    var mapOptions = {
					      center: myLatlng,
					      zoom: 8
					    };
					    var map = new google.maps.Map(document.getElementById("map-canvas"),
					      mapOptions);

					    var marker = new google.maps.Marker({
							  position: myLatlng,
							  map: map,
							  title:"Company Headquarters"
							});
					  }
					  google.maps.event.addDomListener(window, 'load', initialize);
					</script>
				</div>
				<div class="col-sm-6">
					<div class="tile">

						<div class="vcard">
							<h3 class="org">Sally Ride Science</h3>
							<a href="http://maps.google.com/maps?daddr=1600+Amphitheatre+Parkway,+Mountain+View,+CA">Get directions with Google Maps</a>

							<h4><i class="fa fa-map-marker"></i> Address</h4>
							<div class="adr">
								<p class="street-address">123 Main st.</p>
								<p>
									<span class="locality">Los Angeles</span>,
									<abbr class="region" title="California">CA</abbr>,
									<span class="postal-code">91316</span>
								</p>
								<p class="country-name">U.S.A</p>
							</div>

							<h4><i class="fa fa-envelope"></i> Contact Details</h4>
							<p>Sales Department: <a class="email" href="mailto:sales@company.com">sales@company.com</a></p>
						  <p>Technical Support: <a class="email" href="mailto:support@company.com">support@company.com</a></p>
							<div class="tel">Mobile Number: <a href="tel:+18185551212">+1 818 555 1212</a></div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>