---
title: Carousel
section: Lists
---

<div class="row">
	<div class="col-sm-12">
		{{> breadcrumb }}
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-3">
		{{> nav-sidebar }}
	</div>
	<div class="col-sm-12 col-md-9">
		<div id="carousel-large" class="carousel slide" data-ride="carousel" data-interval="5000">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-large" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-large" data-slide-to="1"></li>
				<li data-target="#carousel-large" data-slide-to="2"></li>
				<li data-target="#carousel-large" data-slide-to="3"></li>
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item active">
					<img src="/system/assets/images/wide/blueprint.jpg" alt="" data-aspect="3.3">
					<div class="overlay overlay-tl ribbon">
						<h2>Header Carousel</h2>
						<small>(overlay overlay-tl ribbon)</small>
					</div>
				</div>
				<div class="item">
					<img src="/system/assets/images/wide/map.jpg" alt="" data-aspect="3.3">
					<div class="overlay overlay-tr glow">
						<h2>All controls showing</h2>
						<small>(overlay overlay-tr glow)</small>
					</div>
				</div>
				<div class="item">
					<img src="/system/assets/images/wide/balloons.jpg" alt="" data-aspect="3.3">
					<div class="carousel-caption">
						<p><a href='http://getbootstrap.com/javascript/#carousel' class='btn btn-primary'>Find out more</a></p>
					</div>
				</div>
				<div class="item">
					<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="1x1px transparent GIF">
					<div class="overlay overlay-tl ribbon">
						<h2>No image</h2>
						<small>(overlay overlay-tl ribbon)</small>
					</div>
				</div>
			</div>

			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-large" data-slide="prev">
				<i class='fa fa-chevron-left carousel-icon-left'></i>
			</a>
			<a class="right carousel-control" href="#carousel-large" data-slide="next">
				<i class='fa fa-chevron-right carousel-icon-right'></i>
			</a>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<!-- ToDo: convert dummy text into documentation or usage instruction -->
				<p>Capitalise on low hanging fruit to identify a ballpark value added 
				activity to beta test. Override the digital divide with additional clickthroughs 
				from DevOps. Nanotechnology immersion along the information highway will close 
				the loop on focusing solely on the bottom line.</p>
			</div>
		</div>

		<hr/>

	</div>
</div>