---
title: Simple Article
section: Content Types
---
{{> breadcrumb }}
{{> share-buttons}}
<div class="row">
	<div class="col-sm-12 col-md-3">
		{{> nav-sidebar }}
	</div>
	<div class="col-sm-12 col-md-9">
		<article class="rich-text">
			<h1>Simple Article</h1>
			<div class="meta">
				Friday, July 4, 2014
			</div>
			<div class='content'>
				<div>
					<h3>Content Blocks</h3>
					<div>
					<p>An article is broken down into repeated content blocks. This simple article shows only subheadings and text, the <a href="complex-article.html">Complex Article</a> example shows richer content</p>
					</div>
				</div>
				<div>
					<!-- ToDo: convert dummy text into documentation or usage instruction -->
					<h3>Capitalise on low hanging fruit</h3>
					<div>
						<p>Podcasting operational change management inside of workflows to establish 
a framework. Taking seamless key performance indicators offline to maximise 
the long tail. Keeping your eye on the ball while performing a deep dive 
on the start-up mentality to derive convergence on cross-platform integration.
Collaboratively administrate empowered markets via plug-and-play networks.
Efficiently unleash cross-media information without cross-media value.</p>
					</div>
				</div>
				<div>
					<!-- ToDo: convert dummy text into documentation or usage instruction -->
					<h3>Capitalise on low hanging fruit</h3>
					<div>
						<p>Podcasting operational change management inside of workflows to establish 
a framework. Taking seamless key performance indicators offline to maximise 
the long tail. Keeping your eye on the ball while performing a deep dive 
on the start-up mentality to derive convergence on cross-platform integration.
Collaboratively administrate empowered markets via plug-and-play networks.
Efficiently unleash cross-media information without cross-media value.</p>
					</div>
				</div>
			</div>
		</article>
	</div>
</div>