---
title: Simple Article
section: Content Types
---
{{> breadcrumb }}
{{> share-buttons}}
<div class="row">
	<div class="col-sm-12 col-md-3">
		{{> nav-sidebar }}
	</div>
	<div class="col-sm-12 col-md-9">
		<article class='rich-text'>
			<h1>Simple Article</h1>
			<div class="meta">
				Friday, July 4, 2014
			</div>
			<div class='content'>
				<div>
					<h3>Content Blocks</h3>
					<div>
					<p>An article is broken down into repeated content blocks. This simple article shows only subheadings and text, the <a href="complex-article.html">Complex Article</a> example shows richer content</p>
					</div>
				</div
				<div>
					<h3>Laboris nisi ut aliquip</h3>
					<div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
				</div>
				<div>
					<h3>Laboris nisi ut aliquip</h3>
					<div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
				</div>
			</div>
		</article>
	</div>
</div>