---
title: Index
section: Content Types
---
<div class="row">
	<div class="col-sm-12">
		<div class="hero">
			<img alt="" src="/system/assets/images/wide/map.jpg">
			<div class="overlay overlay-tl ribbon">
				<h1>Content Types</h1>		
			</div>
		</div>
		<div class='content'>
			<p>There are various types of main content element which can be shown using the HTML Design. This section lists them below, click through to see the detailed design for each Content Type. Content Types which consist of multiple items (for example a set of tabs, or a carousel) can be found in the <a href="/lists/index.html">Lists</a> section.</p>
		</div
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-md-4">
    	<div class="teaser teaser-colored">
        	<h2 class="teaser-heading">Simple Article</h2>
            <p class="teaser-description">A basic article, with repeated blocks of content, but no rich media</p>
	    	<a class="teaser-link" href="article.html" title="">View Content Type <i class="fa fa-chevron-right"></i></a>
		</div>
    </div>
    <div class="col-sm-6 col-md-4">
    	<div class="teaser teaser-colored">
        	<h2 class="teaser-heading">Complex Article</h2>
            <p class="teaser-description">An article which contains an image header and further images/video in the body</p>
	    	<a class="teaser-link" href="complex-article.html" title="">View Content Type <i class="fa fa-chevron-right"></i></a>
		</div>
    </div>
    <div class="col-sm-6 col-md-4">
    	<div class="teaser teaser-colored">
        	<h2 class="teaser-heading">Location</h2>
            <p class="teaser-description">A Location, including an address, map and links to directions</p>
	    	<a class="teaser-link" href="location.html" title="">View Content Type <i class="fa fa-chevron-right"></i></a>
		</div>
    </div>
	<div class="col-sm-6 col-md-4">
    	<div class="teaser teaser-colored">
        	<h2 class="teaser-heading">Teasers</h2>
            <p class="teaser-description">A variety of content teasers, which link through to detail pages</p>
	    	<a class="teaser-link" href="teasers.html" title="">View Content Type <i class="fa fa-chevron-right"></i></a>
		</div>
    </div>
    
</div>