---
title: Content Page (No Nav)
section: Layouts
---
{{> breadcrumb }} 
{{> share-buttons}}
<div class="row">
	<div class="col-sm-12">
		<div class="hero">
			<img alt="" src="/system/assets/images/wide/skyscrapers.jpg">
			<div class="overlay overlay-tl ribbon">
				<h1>Content Page (No Navigation)</h1>		
			</div>
		</div>
		<p>A Content Page without navigation often has a single piece of main content (for example an article). It is typically and end-point in navigating the site, so provides contextual navigation in the form of a breadcrumb. There is also a content toolbar containing links to share the content on social media platforms. The left navigation is omitted either as it does not make sense to list all sibling pages (for example if we are in a section with hundreds of pages), or because we want to use as much screen width as possible for the content (or both).</p>
	</div>
</div>