---
title: Index
section: Layouts
---
<div class="row">
	<div class="col-xs-12">
		<h1>Layouts</h1>
		<p>This page represents different layouts that you can use on your site. This page represents different layouts that you can use on your site. This page represents different layouts that you can use on your site. This page represents different layouts that you can use on your site. This page represents different layouts that you can use on your site. This page represents different layouts that you can use on your site.</p>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4">
    	<div class="teaser teaser-desc-inner loader">
        	<img class="teaser-img loader-img" src="/system/assets/images/Large/map.jpg" alt="Culinary Adventures">
        	<div class="loading-panel"></div>
    		<h3 class="teaser-heading overlay overlay-top ribbon"><a href="/layouts/section.html">Section Page</a></h4>
            <p class="teaser-description overlay overlay-bottom ribbon">Showing full width, 2 and 3 column content</p>
	    	<a class="teaser-link" href="/layouts/section.html" title="">Read More <i class="fa fa-chevron-right"></i></a>
		</div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
    	<div class="teaser teaser-desc-inner loader">
        	<img class="teaser-img loader-img" src="/system/assets/images/Large/wall.jpg" alt="Culinary Adventures">
        	<div class="loading-panel"></div>
    		<h3 class="teaser-heading overlay overlay-top ribbon"><a href="/layouts/content-nav.html">Content Page</a></h4>
            <p class="teaser-description overlay overlay-bottom ribbon">Page with left navigation and content</p>
	    	<a class="teaser-link" href="/layouts/content-nav.html" title="">Read More <i class="fa fa-chevron-right"></i></a>
		</div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
    	<div class="teaser teaser-desc-inner loader">
        	<img class="teaser-img loader-img" src="/system/assets/images/Large/ballon-burner.jpg" alt="Culinary Adventures">
        	<div class="loading-panel"></div>
    		<h3 class="teaser-heading overlay overlay-top ribbon"><a href="/layouts/content.html">Content Page 2</a></h4>
            <p class="teaser-description overlay overlay-bottom ribbon">This is the same as the Content Page but without left navigation</p>
	    	<a class="teaser-link" href="/layouts/content.html" title="">Read More <i class="fa fa-chevron-right"></i></a>
		</div>
    </div>
</div>