---
title: Index
section: Layouts
---
<div class="row">
	<div class="col-xs-12">
		<h1>Layouts</h1>
		<p>This page represents different layouts that you can use on your site. This page represents different layouts that you can use on your site. This page represents different layouts that you can use on your site. This page represents different layouts that you can use on your site. This page represents different layouts that you can use on your site. This page represents different layouts that you can use on your site.</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="teaser clearfix image-loading">
			<img src="/system/assets/images/Large/balloons.jpg" alt="Beautiful Saint John">
			<div class="loading-panel"></div>
			<div class="description">
	    		<h3 class="overlay overlay-top ribbon"><a href="/layouts/section.html">Section Page</a></h3>
	    		<p class="overlay overlay-bottom ribbon">Showing full width, 2 and 3 column content</p>
	        	<a href="http://saintjohn01.ams.dev:81/saint-john/index" title="">Read More <i class="fa fa-chevron-right"></i></a>
	    	</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
        <div class="teaser clearfix image-loading">
        	<img src="/system/assets/images/Large/balloons.jpg" alt="Culinary Adventures">
        	<div class="loading-panel"></div>
        	<div class="description">
        		<h3 class="overlay overlay-top ribbon"><a href="/layouts/content-nav.html">Content Page</a></h3>
	            <p class="overlay overlay-bottom ribbon">Page with left navigation and content</p>
		    	<a href="http://saintjohn01.ams.dev:81/saint-john/index" title="">Read More <i class="fa fa-chevron-right"></i></a>
		    </div>
		</div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="teaser clearfix image-loading">
	    	<img src="/system/assets/images/Large/balloons.jpg" alt="Beautiful Saint John">
	    	<div class="loading-panel"></div>
	    	<div class="description">
	    		<h3 class="overlay overlay-top ribbon"><a href="/layouts/content.html">Content Page 2</a></h3>
	    		<p class="overlay overlay-bottom ribbon">This is the same as the Content Page but without left navigation</p>
	        	<a href="http://saintjohn01.ams.dev:81/saint-john/index" title="">Read More <i class="fa fa-chevron-right"></i></a>
	        </div>
		</div>
    </div>
</div>