---
title: Section Page
section: Layouts
---
<div class="row">
	<div class="col-xs-12">
		<div class="hero">
			<img alt="" src="/system/assets/images/wide/bridge.jpg">
			<div class="overlay overlay-tl ribbon">
				<h1>Section Page</h1>		
			</div>
		</div>
		<p>A Section Page often has a full width introduction item, and then 2 and/or 3 column items below which link through to sub pages in the same section. These act as navigation for the section, so there is no left navigation or breadcrumb shown. Since they are pages that primarily link through to other content, there is also no content toolbar.</p>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
    	<div class="teaser teaser-colored">
        	<h2 class="teaser-heading">2 Column Item 1</h2>
            <p class="teaser-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
	    	<a class="teaser-link" href="#" title="">Read More <i class="fa fa-chevron-right"></i></a>
		</div>
    </div>
    <div class="col-md-6">
    	<div class="teaser teaser-colored">
        	<h2 class="teaser-heading">2 Column Item 2</h2>
            <p class="teaser-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
	    	<a class="teaser-link" href="#" title="">Read More <i class="fa fa-chevron-right"></i></a>
		</div>
    </div>
</div>
<div class="row">
	<div class="col-sm-6 col-md-4">
    	<div class="teaser teaser-colored">
        	<h2 class="teaser-heading">3 Column Item 1</h2>
            <p class="teaser-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
	    	<a class="teaser-link" href="#" title="">Read More <i class="fa fa-chevron-right"></i></a>
		</div>
    </div>
    <div class="col-sm-6 col-md-4">
    	<div class="teaser teaser-colored">
        	<h2 class="teaser-heading">3 Column Item 2</h2>
            <p class="teaser-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
	    	<a class="teaser-link" href="#" title="">Read More <i class="fa fa-chevron-right"></i></a>
		</div>
    </div>
    <div class="col-sm-6 col-md-4">
    	<div class="teaser teaser-colored">
        	<h2 class="teaser-heading">3 Column Item 3</h2>
            <p class="teaser-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
	    	<a class="teaser-link" href="#" title="">Read More <i class="fa fa-chevron-right"></i></a>
		</div>
    </div>
</div>