---
title: Complex Article
section: Content Types
---
{{> breadcrumb }}
{{> share-buttons}}
<div class="row">
	<div class="col-sm-12 col-md-3">
		{{> nav-sidebar }}
	</div>
	<div class="col-sm-12 col-md-9">
		<article class="rich-text">
			<div class="hero">
				<img alt="" src="/system/assets/images/wide/map.jpg">
				<div class="overlay overlay-tl ribbon">
					<h1>Complex Article</h1>		
				</div>
			</div>
			<div class="meta">
				Friday, July 4, 2014
			</div>
			<div class='content'>
				<div>
					<h3>Complex article contents</h3>
					<div>
					<p>Articles can have a header image, as above, and also can contain richer content in the content blocks, which are separated into optional elements: Subheading, body text, media and media caption.</p>
					</div>
				</div>
				<div>
					<h3>Images with captions</h3>
					<div>
						<!-- ToDo: convert dummy text into documentation or usage instruction -->
						<p>Leverage agile frameworks to provide a robust synopsis for high level overviews. 
Iterative approaches to corporate strategy foster collaborative thinking to 
further the overall value proposition. Organically grow the holistic world view 
of disruptive innovation via workplace diversity and empowerment. Bring to the 
table win-win survival strategies to ensure proactive domination. At the end of 
the day, going forward, a new normal that has evolved from generation X is on 
the runway heading towards a streamlined cloud solution.</p>
					</div>
					<figure>
						<img src="/system/assets/images/large/bridge.jpg"/>
						<!-- ToDo: convert dummy text into documentation or usage instruction -->
						<figcaption class="text-center"><strong>Figure Caption (.text-center)</strong> Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</figcaption>
					</figure>
				</div>
				<div>
					<h3>Youtube videos</h3>
					<div>
						<!-- ToDo: convert dummy text into documentation or usage instruction -->
						<p>Leverage agile frameworks to provide a robust synopsis for high level overviews. 
Iterative approaches to corporate strategy foster collaborative thinking to 
further the overall value proposition. Organically grow the holistic world view 
of disruptive innovation via workplace diversity and empowerment. Bring to the 
table win-win survival strategies to ensure proactive domination. At the end of 
the day, going forward, a new normal that has evolved from generation X is on 
the runway heading towards a streamlined cloud solution.</p>
					</div>
					<figure>
						<!--
							Videos can be embedded directly via an iframe, but you can also show an alternate first frame 
							picture with a play button instead, which when clicked, will load the actual video.
							<iframe width="960" height="720" src="//www.youtube.com/embed/2YBtspm8j8M" style="border:none;" allowfullscreen></iframe>
						-->
                        <div class="embed-video">
							<img src="/system/assets/images/teaser/wall.jpg" alt="">
							<button type="button" data-video="2YBtspm8j8M">
								<i class="fa fa-play-circle"></i>
							</button>
						</div> 
						<figcaption>Figure caption without center alignment</figcaption>
					</figure>
				</div> 
				<div>
					<h3>Other formatting options</h3>
					<div>
						<!-- ToDo: convert dummy text into documentation or usage instruction -->
						<p><img class="pull-left" src="/system/assets/images/teaser/balloons.jpg" alt="Floating left image">You can align inline elements with <strong>pull-left</strong>, <strong>pull-right</strong> and <strong>center-block</strong> classes. 
Leverage agile frameworks to provide a robust synopsis for high level overviews. 
Iterative approaches to corporate strategy foster collaborative thinking to 
further the overall value proposition. Organically grow the holistic world view 
of disruptive innovation via workplace diversity and empowerment. Bring to the 
table win-win survival strategies to ensure proactive domination. At the end of 
the day, going forward, a new normal that has evolved from generation X is on 
the runway heading towards a streamlined cloud solution.</p>
						<!-- ToDo: convert dummy text into documentation or usage instruction -->
						<p><img class="pull-right" src="/system/assets/images/teaser/blueprint.jpg" alt="Floating left image">
Leverage agile frameworks to provide a robust synopsis for high level overviews. 
Iterative approaches to corporate strategy foster collaborative thinking to 
further the overall value proposition. Organically grow the holistic world view 
of disruptive innovation via workplace diversity and empowerment. Bring to the 
table win-win survival strategies to ensure proactive domination. At the end of 
the day, going forward, a new normal that has evolved from generation X is on 
the runway heading towards a streamlined cloud solution.</p>
						<!-- ToDo: convert dummy text into documentation or usage instruction -->
						<p>Collaboratively administrate empowered markets via plug-and-play networks. 
Dynamically procrastinate B2C users after installed base benefits. Dramatically 
visualize customer directed convergence without revolutionary ROI. Efficiently 
unleash cross-media information without cross-media value. <img class="center-block" src="/system/assets/images/teaser/map.jpg" alt="Floating left image">Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
User generated content in real-time will have multiple touchpoints for offshoring.</p>
					</div>
				</div>
			</div>
			<div id="rating">
	<h3>3.4</h3>
	<i class="fa fa-star">
		<i class="fa fa-star">
			<i class="fa fa-star">
				<i class="fa fa-star-o">
					<i class="fa fa-star-o"></i>
				</i>		
			</i>	
		</i>
	</i>
	<p><i class="fa fa-user"></i>128 total</p>
</div>

			<div id="comments">
				<form action="#" method="post">
					<div class="col-sm-4">
				    	<div class="form-group">
				    		<label for="username">Name</label>
							<input type="text" class="form-control" id="username" name="username">
						</div>
						<div class="form-group">
							<label for="email">E-mail</label>
							<input type="email" class="form-control" id="email" name="email">
						</div>
						<div class="form-group">
							<label for="comment">Comment</label>
						    <textarea id="comment" class="form-control" name="comment"></textarea>   
					    </div>
						<div class="form-group">
							<button type="submit" class="btn btn-default">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</article>
	</div>
</div>