
.carousel {
	background: @brand-primary;
	margin-bottom: @line-height-computed;

	.carousel-icon-left,
	.carousel-icon-right {
		position: absolute;
		top: 50%;
		z-index: 5;
		display: inline-block;
	}
	.carousel-icon-left, .carousel-icon-right {
		left: 50%;
	}

	.carousel-inner > .item > img, .carousel-inner > .item > a > img {
		width: 100%;
	}
}

@media screen and (min-width: @screen-sm-min) {

	// Scale up the controls a smidge
	.carousel-control {
		width: 50px;
		
		.carousel-icon-left,
		.carousel-icon-right{
			width: 30px;
			height: 30px;
			margin-top: -15px;
			margin-left: -15px;
			font-size: 30px;
		}
	}

}