
.list-gallery{
	&:extend(.list-inline all);
	li{
		margin-bottom: @line-height-computed / 2;
	}
}

.download-list {
	padding: 0;
	list-style: none;

	padding: 10px;

	i {
		background: @brand-primary;
		color: #fff;
		float: left;
		font-size: 2em;
		line-height: 37px;
		width: 60px;
		text-align: center;
		margin-right: 20px; 
	}

	a {
		font-weight: bold; 
	}

	small {
		color: @gray-dark;
		display: block;
	}
	
	small.size{
		color: @gray-dark;
		display: inline-block;
		margin-left: 10px;
	}
}