.loading-panel{
	position: relative;
	display: none;

	position: absolute;
	top: -@loader-margin;
	left: -@loader-margin;
	right: -@loader-margin;
	bottom: -@loader-margin;
	background: fade(@loader-bg-color, 100%) no-repeat;
	background: @loader-bg-color no-repeat;
	background-size: @spinner-width @spinner-height;
	z-index: 2;

	.no-rgba & {
		.opacity(0.4);
	}

	.is-loading > & {
		display: block;
		.opacity(1);
	}
	
	i.fa {
		position: absolute;
		left: 48%;
		top: 48%;
	}
}