.navbar {
	border: 0;
	border-bottom: 1px solid @navbar-default-border;	
}

.navbar-logo img{
	margin-bottom: 10px;
}

.navbar-collapse{
	position: relative;
}

@media (max-width: @grid-float-breakpoint-max){

	.navbar-logo{
		.navbar-vertical-align(@navbar-collapse-logo-height);
		padding-left: @grid-gutter-width / 2;
		display: inline-block;
		max-height: @navbar-collapse-logo-height;
		max-width: @navbar-collapse-logo-width-max;
		img{
			max-height: @navbar-collapse-logo-height;
			max-width: @navbar-collapse-logo-width-max;
			margin-bottom: 0;
		}
	}

	.navbar-collapse{
		.navbar-nav{
			border-top: 1px solid @navbar-default-border;

			&:first-child{
				border-top: none;
			}
		}
	}

	.navbar-default{
		.navbar-form{
			border-bottom-color: transparent;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

@media (min-width: @screen-sm-min){
	.utility-nav{
		float: right;
		margin-right: -@navbar-padding-horizontal;
	}

	.main-nav{
		clear: both;
		margin-left: -@navbar-padding-horizontal;
		//position: relative;

		&.navbar-right{
			margin-left: 0;
		}

		.navbar-default &{
			& > li.active > a{
				background: transparent;
				border-bottom: @navbar-link-active-border-width solid @navbar-default-link-active-border-color;
				padding-bottom: @navbar-padding-vertical - @navbar-link-active-border-width;
			}

			& >  li > a,
			& > li.active > a{
				position: relative;
				z-index: 101;
				&:hover,
				&:focus{
					background: transparent;
					border-bottom: @navbar-link-active-border-width solid @navbar-default-link-active-border-color;
					padding-bottom: @navbar-padding-vertical - @navbar-link-active-border-width;
				}
			}
		}
	}
}

.nav-sidebar{

	margin-bottom: @line-height-computed;
	border-right: 1px solid @gray-lighter;

	li{
		border-bottom: 1px solid @nav-sidebar-border-color;

		&:first-child{
			border-top: 1px solid @nav-sidebar-border-color;
		}

		a{
			padding-left: 15px - @nav-sidebar-border-width;
			border-left: @nav-sidebar-border-width solid @nav-sidebar-border-color;
			color: @nav-sidebar-color;
		}

		&.active a,
		a:hover,
		a:focus{
			background: transparent;
			border-left: @nav-sidebar-border-width solid @nav-sidebar-color;
		}
	}
	
}

// Mega Nav

.mega-nav-link > a:hover + .mega-nav,
.mega-nav-link > *:focus.mega-nav > a:focus {
	height: auto;
}

.mega-nav{
	position: absolute;
	display: none;
	left: 0;
	width: 100%;
	z-index: 100;

	.mega-nav-content{
		background: @mega-nav-bg;
		padding: @grid-gutter-width / 2;
		border: @mega-nav-border;
		.box-shadow(3px 3px 3px 0px #ccc);
	}
}

@media (min-width: @screen-xs-min){

	.mega-nav-link{

		position: static !important;

		&:hover, &.show-menu {
			outline: @mega-nav-border;

			& > a{
				position: relative;

				&:after{
					content: " ";
					border-top: 1px solid @mega-nav-bg;
					position: absolute;
					bottom: -@navbar-link-active-border-width - 1;
					left: 0;
					right: 0;
				}
			}

			.mega-nav{
				display: block;
			}
		}

		& > a:hover{
			border-color: transparent !important;
			outline: @mega-nav-border;
		}
	}

}

.nav-tabs{
	margin-bottom: @line-height-computed / 2;
}

.tab-select{
	margin-bottom: @line-height-computed / 2;
}

.container > .navbar-header {
	position: relative;
	z-index: 100;
}