// For extra small screens
.teaser {
	background: @teaser-background-color;
	color: @teaser-color;
	margin-bottom: 10px;
	position: relative;
	font-size: 12px;

	.overlay {
		padding: 0;
		position: relative;
	}

	.description {
		padding: 3%;
	}

	h3, p {
		margin-bottom: 5px;
	}

	h3 {
		font-size: 1.4em;
		font-weight: bold;
	}

	img {
		width: 35%;
		float: right;
		margin: 3%;
	}

	a {
		display: block;
	}
}

// For small and larger screens
@media screen and (min-width: @screen-sm) {
	.teaser {
		font-size: 13px;

		.description {
			padding: 0; 

			.overlay {
				margin: 0;
			    padding: @line-height-computed / 2;
			    position: absolute;
			}
		}
		
		h3, p {
			margin: 0;
			padding: 10px;
		}

		img {
			width: 100%;
			display: block;
			margin: 0 auto;
		}

		a {
			display: none;
		}
	}
}

@media screen and (min-width: @screen-md) {
	.teaser {
		font-size: 14px;
	}
}